{% extends "common/base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/application/modules/sais/views/includes/css/coincidence.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/application/modules/sais/views/includes/js/coincidence.js"></script>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div id="divaddcoincidencepage" class="divcoincidenceoperations">
        <div id="divaddcoincidence">
            <label for="select_conclusion">Conclusion:</label><br/>
            <select id="select_conclusion" name="selectconclusion">
            </select><br/>
            <label for="select_condition">Condition:</label><br/>
            <select id="select_condition" name="selectcondition">
            </select><br/>
            <input id="cbPresence" type="checkbox"><label for="cbPresence">presence</label><br/>
            <div class="coincidenceoperationsbuttons-wrapper">
                <input type="button" name="submitcoincidence" value="Add coincidence">
            </div>
        </div>
        <div class="buttonconclusion-wrapper">
            <input id="buttonconclusion" type="button" name="conclusion" value="Conclusion">
        </div>
            <div id="divconclusion">
                <input name="conclusion_name"><br>
                <input type="button" name="submitconclusion" value="Add conclusion">
            </div>
            <div class="buttoncondition-wrapper">
                <input id="buttoncondition" type="button" name="condition" value="Condition">
            </div>
            <div id="divcondition">
                <input name="condition_name"><br>
                <input type="button" name="submitcondition" value="Add condition">     
            </div>
        <div id="divmessages"></div>
    </div>
{% endblock %}