{% extends "common/base.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="/application/modules/sais/views/includes/js/coincidence.js"></script>
{% endblock %}
{% block body %}
    {{ parent() }}
    <div id="divaddcoincidencepage">
        <div id="divaddcoincidence">
            <select name="selectconclusion">
            </select>
            <select name="selectcondition">
            </select>
            <input id="cbPresence" type="checkbox"><label for="cbPresence">presence</label>
            <input type="button" name="submitcoincidence" value="Add coincidence">
        </div>
        <input id="buttonconclusion" type="button" name="conclusion" value="Conclusion">
            <div id="divconclusion">
                <input name="conclusion_name"><br>
                <input type="button" name="submitconclusion" value="Add conclusion">
            </div>
        <input id="buttoncondition" type="button" name="condition" value="Condition">
        <div id="divcondition">
            <input name="condition_name"><br>
            <input type="button" name="submitcondition" value="Add condition">     
        </div>
        <div id="divmessages"></div>
    </div>
{% endblock %}