#show_coincidences_wrapper {
    width: 63%;
    margin-left: 5%;
}

.divcoincidenceoperations {
    margin-left: 8%;
    margin-top: 0;
}

.divcoincidenceoperations div select {
    width: 11%;
    margin-top: 0;
}

.divcoincidenceoperations div input[name^="submit"] {
    margin-top: 1%;
}

.divcoincidenceoperations div input[name^="delete"] {
    margin-left: 1%;
}

.divcoincidenceoperations div.buttonconclusion-wrapper {
    margin-left: 9%;
    margin-top: -7%;
}

.divcoincidenceoperations div.buttoncondition-wrapper {
    margin-left: 9%;
    margin-top: 1%;
}

#buttonconclusion {
    margin-left: 8%;
}

#buttoncondition {
    margin-left: 8%;
}

#divconclusion {
    margin-left: 22%;
    margin-top: -1%;
}

#divcondition {
    margin-left: 21%;
    margin-top: -1%;
}