<?php
$dbConnectionOptions = [
    'server' => 'mysql',
    'host' => 'localhost',
    'port' => '',
    'user' => 'test',
    'password' => 'password',
    'dbname' => 'mydbname',
    'persistent' => false,
];
$dbTablesOptions = [
    'prefix' => 't',
    'suffix' => 's',
];
$defaultRouteOptions = [
    'module' => 'main',
    'controller' => 'default',
    'action' => 'index',
];