<?php

namespace Application\Config;
class Options {
    public static function get()
    {
        return [
            'dbconnection' => [
                'server' => 'mysql',
                'host' => 'localhost',
                'port' => '',
                'user' => 'test',
                'password' => 'password',
                'dbname' => 'mydbname',
                'persistent' => false,
            ],
            'dbtable' => [
                'prefix' => 't',
                'suffix' => 's',
            ],
            'default_route' => [
                'module' => 'main',
                'controller' => 'default',
                'action' => 'index',
            ],
        ];
    }
}
